h1 {
    color:red;
}
h1{
color:slategray;
border: 9px red inset;
}
.hola {
    color: grey;
    border list-style: ;
    border-right:;
     display: ;
}
ul {
    background-color: grey;
    border-radius: 4px ;
}
table {
    width: 100px;
}
body{ 
    background-image: url(https://wi.wallpapertip.com/wsimgs/81-817116_hd-wallpaper-no-copyright.png);
    

}
#p :hover{
border-bottom-left-radius: 4px;

}