*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}  
 .navi  {
   height: 100px;
  color: #fff;
font-size: 25px;
font-family: sans-serif;
background-color: rgb(72, 148, 235);
display: flex;
justify-content: space-between;
align-items: center;
/* animation-name: mai123;
animation-duration: 6s;
animation-iteration-count: infinite;
overflow: hidden; */
}
.navi ul {
  border-radius: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navi ul a {
  color: #fff;
  text-decoration: none;
}
.contain_cont {
  height: 400px;
  width: auto;
  margin: auto;
  background-image: url(../index.html/imaguenes/);
  background-repeat: no-repeat;
}
.contain {
  display: flex;
  flex-direction: column;
  border-radius: 60px;
  height: 200px;
  width: 200px;
  color: red;
}
.hola {
  display: block;
  align-items: center;
  justify-content: center;
}
.contain ul {
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
.contain ul li {
  text-decoration: none;


}
footer {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(12, 8, 8);
  height: 100px;
  text-align: center;
  color: #fff;
  margin: 0%;
}
/* @keyframes mai123 {
  0% {background-color: #fff;}
  25%{background-color: rgb(148, 186, 219);}
  50%{background-color: rgb(98, 121, 141);}
  75%{background-color: rgb(78, 103, 150);}
  100%{background-color: aqua;}
} */

/* font-size: para cambiar el tamaño de la letra */
/* font-family: para la tipografia letra  */
/* line height: es la mitad de los letras */
/*  */
